html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

/* Way to keep a navbar sticky at top of page*/
.div2 {
    position: sticky;
    top: 5px;
    z-index: -1; /*3d position elements only (can be positive)*/
}




