/* Global Styles
---------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Nav Bar
---------------------------------*/
.topnav {
    background-color: #004780;
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #F7FFF7;
    text-align: center;
    padding: 20px ;
    text-decoration: none;
    font-family: Lato;
    font-size: 18px;
  }
  
  
.topnav a:hover {
    background-color: #00335cbd;
    color: #F7FFF7;
    text-decoration: none;
  }
  
  
.topnav a.active {
    background-color: #00335cbd;
    color: #F7FFF7;
  }
  

.topnav .icon {
    display: none;
  }

/* Nav Bar Close
---------------------------------*/
  
body {
    color:  #495965;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img.frontpage {
    width: 300px;
    height: auto;
}

a {
    color: #F7FFF7;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Futura', sans-serif;
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 36px;
    line-height: 1.5;
}

h2 {
    font-size: 30px;    
}

.content-wrap {
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
    padding: 30px 0;
}

.plot {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.rplot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }  


h2, h3, p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.top {
    text-align: right;
}

.item-details h3 + p {
    font-style: italic;
}

.divider > section {
    border-bottom: 1px dashed  #495965;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}

.toplink  {   
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.link:hover {
    text-decoration: underline;
}

/* Profile
---------------------------------*/
header {
    background: #004780;
    color: #F7FFF7;
}


/* Projects
---------------------------------*/
.projects {
    background: #F7FFF7;
}

.projects a {
    color: #004780;
}

.projects .btn {
    color: #F7FFF7;
    background: #004780;
    text-decoration: none; 
    padding: 8px;
    border-radius: 4px;
    display: inline-block;    
}

.projects .btn:hover {
    background: #00335cbd
}

.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}

/* Education
---------------------------------*/
.education {
    background-image: url(run.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}

.education p {
    width: 60%;
}


/* Contact Info
---------------------------------*/
footer {
    background:  #495965;
    color: #F7FFF7;
}
.contact-list {
    list-style-type: none;
    padding: 1px;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}

/* Responsive
---------------------------------*/
@media screen and (min-width: 750px) {
    footer, .education {
        text-align: center;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    }
    .contact-list {
    display: flex;
    justify-content: center;
    }   
}

@media screen and (max-width: 749px){
    h1 {
        font-size: 32px;
        line-height: .9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
   
    .contact-list a {
        padding: 5px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}
